# Aplicação
PORT=3000
NODE_ENV=development

# Banco de Dados PostgreSQL (Porta mapeada pelo Docker: 5434)
DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASS=postgres123
DB_NAME=emissor_nfe_db
DB_LOGGING=true
DB_SYNCHRONIZE=true

# Chave mestra de criptografia (para certificados A1)
ENCRYPTION_KEY=supersecretkey32charactersminimum!

# SEFAZ - Controle Global de Ambiente (2 = Homologação, 1 = Produção)
# SEFAZ_FORCE_HOMOLOGACAO=true força SEMPRE o ambiente de homologação (2), mesmo se o emitente estiver cadastrado como produção (1)
SEFAZ_FORCE_HOMOLOGACAO=true
SEFAZ_DEFAULT_AMBIENTE=2
